/* Reset some default styles for better consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 1.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.thumbnail-row {
    display: flex;
    justify-content: space-around; /* Spread thumbnails evenly with space around */
    align-items: center;
    margin-top: 20px; /* Increase the margin for more space */
  }

  .thumbnail {
    width: 160px; /* Adjust the width */

  }

  

